@font-face {
	font-family: 'Andy Bold';
	src: url('src/static/fonts/andyBold.ttf');
	/* font-stretch: expanded; */
}

body, html {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Andy Bold', cursive;
}

:global(#app) {
	height: 100%;
	padding: 0;
	margin: 0;
}

div {
	box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, input {
	margin: 0;
	padding: 0;
}
