.textBox {
	display: flex;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 25px;
	padding: 16px;
	color: white;
	width: 100%;
	min-height: 2rem;
	align-items: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.characterHead {
	height: 60px;
	width: 60px;
	margin-right: 8px;
	flex: 0 0 auto;
}

.boxBody {
	font-size: 1rem;
}

@media only screen and (min-width: 600px) {
	.characterHead {
		height: 100px;
		width: 100px;
	}

	.boxBody {
		font-size: unset
	}
}
