.menuOverlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	left: 0;
}

.menuContent {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 16px;
}

.icon {
	height: 48px;
	width: 48px;
}

.closeIcon {
	fill: white;
}

.iconButton {
	align-self: flex-start;
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;
	display: inline-flex;
}

.characterSelectBlock {
	margin-top: 8px;
	margin-left: 8px;
}

.text {
	color: white;
}

.portraitRow {
	display: flex;
}

.selectButton {
	background-color: transparent;
	border: none;
	border-radius: 4px;
}
