.searchInput {
	margin-top: 16px;
	height: 40px;
	font-size: 1rem;
	border-radius: 8px;
	text-align: center;
	width: 100%;
}

.submit {
	width: 50%;
	height: 40px;
	margin-top: 8px;
	border-radius: 8px;
	font-size: 1rem;
}

@keyframes loadingRotate {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

.loadingIcon {
	margin: 16px;
	height: 48px;
	width: 48px;
	animation-name: loadingRotate;
	animation-duration: .7s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@media only screen and (min-width: 600px) {
	.searchInput {
		width: 50%;
		height: 32px;
	}

	.submit {
		width: 33%;
		height: 32px;
	}
}